
hr {
	text-align: center;
	margin: 0 auto;
	opacity: 0.5;
}

.hero, .hero a, .hero h1, .hero h2, .hero h3, .hero h4 {
	color: white;
}

.hero h1 {
	font-size: 32px;
	line-height: 28px;
	margin-top: 16px;
	margin-bottom: 0px;
	text-align: center;
}

.hero h2 {
	font-size: 36px;
	line-height: 34px;
}

.hero h3 {
	font-size: 24px;
	line-height: 10px;
	text-align: center;
	font-weight: 500;
	padding-bottom: 10px;
}

.hero h4 {
	font-size: 28px;
	padding-top: 5px;
}

.columns.large-centered {
	padding-left: 5px;
	padding-right: 5px;
}

.black-box {
	background-color: rgba(0, 0, 0, 0.55);
	padding: 35px;
	font-weight: 900;
}

.black-box p {
	font-weight: 900;
}

.secondary.small.button {
	background-color: transparent;
	color: #fff;
	border: 2px #fff solid;
	border-radius: 5px;
	padding: 15px 50px 15px 50px;
	margin: 0;
}

.secondary.small.button:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.row .main-wrapper {
	margin-bottom: 20px;
}

.about-content {
	background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.hero {
	padding-bottom: 50px;
	background-size: cover;
	box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.2);
}

.hero-content {
	padding-top: 40px;
	padding-bottom: 40px;
	margin-bottom: 20px;
}

.panel {
	margin: 40px 0 40px 0;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
	border: none;
	background-color: #EAEAEA;
}

.large-4 img {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.titlehero {
	margin-bottom: 20px;
	padding-bottom: 0px;
}
